<div
  class="d-flex justify-content-center align-items-center py-6 bg-primary-200"
>
  <div class="d-flex justify-content-center align-items-center">
    <h4 class="h4 me-6 me-sm-4 h5-sm-neutral">加入會員取得 9 折優惠</h4>
    <button class="discount-btn btn-l btn-neutral-filled btn-sm">
      馬上註冊
    </button>
  </div>
</div>
<!-- footer -->
<footer class="py-6 bg-neutral-100 p-sm-8">
  <nav
    class="container-l mx-auto d-flex align-items-center justify-content-spacebetween pb-6 border-bottom-1 flex-sm-column align-items-sm-start"
  >
    <div class="logo py-2 px-3">
      <a href="index.html"
        ><img src="../assets/images/URBNSTEP.png" alt="品牌標誌"
      /></a>
    </div>
    <ul class="d-flex justify-content-spacebetween pe-3 flex-sm-column ps-sm-3">
      <li class="nav-item-link me-10">
        <a
          class="nav-item-link py-3 lbl-md text-neutral-900"
          href="products_list.html"
          >商品列表</a
        >
      </li>
      <li>
        <a
          class="nav-item-link nav-item-link py-3 lbl-md text-neutral-900"
          href="brand_story.html"
          >品牌故事</a
        >
      </li>
    </ul>
  </nav>

  <div class="pt-8 text-align-center p-sm">
    <p>Copyright ©2025 URBNSTYLE</p>
    <p>All Rights Reserved.</p>
  </div>
</footer>
