<header class="hero-header py-72 hero-sm-header py-sm-38-75 px-sm-6">
  <div class="ms-50 ms-sm-6">
    <h1 class="d1 mb-1 d2-sm-white">URBNSTEP</h1>
    <h2 class="h3 mb-12 h5-sm h5-sm-neutral-white">
      Your Step, Your Statement
    </h2>
    <div>
      <a class="btn-l py-3 px-6 btn-primary" href="products_list.html"
        >立即選購</a
      >
    </div>
  </div>
</header>
