<nav class="container-l mx-auto py-4 pt-sm-3 pb-sm-0">
  <div class="d-flex justify-content-spacebetween align-items-center">
    <div class="d-flex mb-sm-3">
      <div class="logo py-2 px-3 me-12">
        <a href="index.html">
          <img src="../assets/images/URBNSTEP.png" alt="品牌標誌" />
        </a>
      </div>

      <ul class="d-flex justify-content-spacebetween d-sm-none">
        <li class="me-10">
          <a
            class="nav-item-link py-3 lbl-md-neutral text-neutral-900"
            href="products_list.html"
            >商品列表
          </a>
        </li>
        <li class="me-10">
          <a
            class="nav-item-link py-3 lbl-md-neutral text-neutral-900"
            href="brand_story.html"
            >品牌故事</a
          >
        </li>
      </ul>
    </div>

    <div>
      <a
        class="person d-flex justify-content-cenetr align-items-center p-3"
        href="#"
      >
        <img src="../assets/images/person.svg" alt="會員" />
      </a>
    </div>
  </div>

  <!-- 手機板顯示 -->
  <ul class="d-flex d-none d-sm-flex text-align-center">
    <li class="flex-1">
      <a
        class="lbl-md-neutral py-3 bg-primary-200 d-block"
        href="products_list.html"
        >商品列表</a
      >
    </li>
    <li class="flex-1">
      <a
        class="lbl-md-neutral py-3 bg-primary-100 d-block"
        href="brand_story.html"
        >品牌故事</a
      >
    </li>
  </ul>
</nav>
