<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/all.css" />
  </head>
  <body>
    <%- include('./layout/nav_index'); %> <%- include('./layout/header'); %>
    <main class="mx-auto px-sm-3">
      <section class="container-l py-16 py-sm-10">
        <div class="text-align-center mb-8">
          <h2 class="d2 mb-3 h2-sm">New Arrial</h2>
          <h3 class="h2 h4-sm">新品上市</h3>
        </div>
        <div>
          <div class="row">
            <div class="col-6 px-3 px-sm-1-5">
              <div class="mb-10">
                <div class="mb-3 mb-sm-2">
                  <a href="products_list.html">
                    <img src="../assets/images/new-1.png" alt="Monoverse" />
                  </a>
                </div>
                <h4 class="mb-1 h5-neutral h6-sm">Monoverse</h4>
                <h5 class="lbl-md-neutral">NT$3,600</h5>
              </div>
              <div>
                <div class="mb-3 mb-sm-2">
                  <a href="products_list.html">
                    <img src="../assets/images/new-3.png" alt="URBN Force" />
                  </a>
                </div>
                <h4 class="mb-1 h5-neutral h6-sm">URBN Force</h4>
                <h5 class="lbl-md-neutral">NT$3,200</h5>
              </div>
            </div>
            <div class="col-6 px-3 px-sm-1-5">
              <div class="mb-10">
                <div class="mb-3 mb-sm-2">
                  <a href="products_list.html"
                    ><img src="../assets/images/new-2.png" alt="PLATFORM 404"
                  /></a>
                </div>
                <h4 class="mb-1 h5-neutral h6-sm">PLATFORM 404</h4>
                <h5 class="lbl-md-neutral">NT$2,600</h5>
              </div>
              <div>
                <div class="mb-3 mb-sm-2">
                  <a href=""
                    ><img src="../assets/images/new-4.png" alt="Mode90"
                  /></a>
                </div>
                <h4 class="mb-1 h5-neutral h6-sm">Mode90</h4>
                <h5 class="lbl-md-neutral">NT$4,000</h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-l py-16 py-sm-10">
          <h3 class="h2 mb-4 h4-sm">熱銷補貨</h3>
          <div class="row scroll no-sm-wrap">
            <div
              class="col-3 px-3 position-relative col-sm-8 flex-fixed px-sm-2"
            >
              <a href="products_list.html">
                <div class="max-sm-width">
                  <img src="../assets/images/product-3.png" alt="熱銷商品" />
                </div>
                <div class="position-absolute top-0 bg-primary-100 py-2 px-3">
                  <p class="lbl-sm-neutral">人氣 No.1</p>
                </div>
              </a>
            </div>
            <div
              class="col-3 px-3 position-relative col-sm-8 flex-fixed px-sm-2"
            >
              <a href="products_list.html">
                <div>
                  <img
                    class="max-sm-width"
                    src="../assets/images/product.png"
                    alt="熱銷商品"
                  />
                </div>
                <div class="position-absolute top-0 bg-primary-100 py-2 px-3">
                  <p class="lbl-sm-neutral">人氣 No.1</p>
                </div>
              </a>
            </div>
            <div
              class="col-3 px-3 position-relative col-sm-8 flex-fixed px-sm-2"
            >
              <a href="products_list.html">
                <div>
                  <img
                    class="max-sm-width"
                    src="../assets/images/product-8.png"
                    alt="熱銷商品"
                  />
                </div>
                <div class="position-absolute top-0 bg-primary-100 py-2 px-3">
                  <p class="lbl-sm-neutral">人氣 No.1</p>
                </div>
              </a>
            </div>
            <div
              class="col-3 px-3 position-relative col-sm-8 flex-fixed px-sm-2"
            >
              <a href="products_list.html">
                <div>
                  <img
                    class="max-sm-width"
                    src="../assets/images/product-4.png"
                    alt="熱銷商品"
                  />
                </div>
                <div class="position-absolute top-0 bg-primary-100 py-2 px-3">
                  <p class="lbl-sm-neutral">人氣 No.1</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="py-12 py-sm-6">
        <div class="co-branding py-25 py-sm-16 px-sm-3">
          <div class="container-xs mx-auto">
            <div class="text-align-center mb-21 mb-sm-0">
              <div class="mb-12">
                <h2 class="mb-4">
                  <span
                    class="d2-white me-6 h2-sm-neutral-white mb-sm-2 d-sm-block me-sm-0"
                    >URBNSTEP</span
                  >
                  <span
                    class="h1-primary-300 me-6 h3-sm-primary-300 mb-sm-2 d-sm-block me-sm-0"
                    >X</span
                  >
                  <span class="d2-white h2-sm-neutral-white d-sm-block mb-sm-4"
                    >Kevin Chen</span
                  >
                </h2>
                <h3 class="h2-neutral-white mb-8 h5-sm-neutral-white mb-sm-6">
                  跨界聯名，限量發售
                </h3>
                <h4 class="p-lg p-sm-md d-sm-none">
                  新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！
                </h4>
                <h4 class="p-sm-md d-none d-sm-block mb-sm-8">
                  新銳漫畫家 Kevin Chen 親自操刀設計<br />街頭能量全面引爆！
                </h4>
              </div>
              <div>
                <a class="btn-l btn-primary" href="products_list.html"
                  >立即搶購</a
                >
              </div>
            </div>
            <div class="d-sm-none">
              <ul
                class="d-flex justify-content-center align-items-center"
                style="margin-bottom: -5.75rem"
              >
                <li><a class="capsule me-2" href=""></a></li>
                <li><a class="dot me-2" href=""></a></li>
                <li><a class="dot me-2" href=""></a></li>
                <li><a class="dot me-2" href=""></a></li>
                <li><a class="dot me-2" href=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="container-l py-16 py-sm-10">
        <h3 class="h2 mb-4">依系列選購</h3>
        <div class="row--12">
          <div class="col-6 col-xl-12">
            <div class="row-0 no-wrap">
              <div
                class="col-6 text-align-center d-flex align-items-center justify-content-center urban-runner mask me-3 mb-3 py-29-5 col-xl py-sm-15p5"
              >
                <a href="products_list.html">
                  <div class="previous-level">
                    <h3 class="mb-2 h3 h6-xl-neutral-white">URBN RUNNER</h3>
                    <h3 class="h4-neutral-white h6-xl-neutral-white">
                      慢跑系列
                    </h3>
                  </div>
                </a>
              </div>
              <div
                class="col-6 text-align-center d-flex align-items-center justify-content-center street-mode mask me-3 mb-3 py-29-5 col-xl py-sm-15p5"
              >
                <a href="products_list.html">
                  <div class="previous-level">
                    <h3 class="mb-2 h3 h6-xl-neutral-white">STREETMODE</h3>
                    <h3 class="h4-neutral-white h6-xl-neutral-white">
                      滑板系列
                    </h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-6 col-xl-12">
            <div class="row-0 no-wrap">
              <div
                class="col-6 text-align-center d-flex align-items-center justify-content-center chunk-district mask me-3 mb-3 py-29-5 col-xl py-sm-15p5"
              >
                <a href="products_list.html">
                  <div class="previous-level">
                    <h3 class="mb-2 h3 h6-xl-neutral-white">CHUNK DISTRICT</h3>
                    <h3 class="h4-neutral-white h6-xl-neutral-white">
                      厚底系列
                    </h3>
                  </div>
                </a>
              </div>

              <div
                class="col-6 text-align-center d-flex align-items-center justify-content-center collab-zone mask me-3 mb-3 py-29-5 col-xl py-sm-15p5"
              >
                <a href="products_list.html">
                  <div class="previous-level">
                    <h3 class="mb-2 h3 h6-xl-neutral-white">COLLAB ZONE</h3>
                    <h3 class="h4-neutral-white h6-xl-neutral-white">
                      聯名企劃
                    </h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="container-l py-16 d-sm-none">
        <h3 class="h2 mb-4">穿搭靈感</h3>
        <div class="row-4">
          <div class="col-4 px-1">
            <div class="row-4">
              <div class="col-6 px-1 mb-2">
                <img src="../assets/images/inspiration-1.png" alt="album" />
              </div>
              <div class="col-6 px-1 mb-2">
                <img src="../assets/images/inspiration-2.png" alt="album" />
              </div>
            </div>

            <div>
              <img src="../assets/images/inspiration-3.png" alt="album" />
            </div>
          </div>
          <div class="col-4 px-1">
            <div class="row-4">
              <div class="col-6 px-1">
                <img
                  class="mb-2"
                  src="../assets/images/inspiration-4.png"
                  alt="album"
                />
                <img
                  class="mb-2"
                  src="../assets/images/inspiration-6.png"
                  alt="album"
                />
                <img src="../assets/images/inspiration-8.png" alt="album" />
              </div>
              <div class="col-6 px-1">
                <img
                  class="mb-2"
                  src="../assets/images/inspiration-5.png"
                  alt="album"
                />
                <img
                  class="mb-2"
                  src="../assets/images/inspiration-7.png"
                  alt="album"
                />
                <img src="../assets/images/inspiration-9.png" alt="album" />
              </div>
            </div>
          </div>
          <div class="col-4 px-1">
            <div>
              <img
                class="mb-2"
                src="../assets/images/inspiration-10.png"
                alt="album"
              />
            </div>
            <div class="row-4">
              <div class="col-6 px-1">
                <img src="../assets/images/inspiration-11.png" alt="album" />
              </div>
              <div class="col-6 px-1">
                <img src="../assets/images/inspiration-12.png" alt="album" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-sm-10">
        <h3 class="h4-sm mb-sm-5-5 d-none">穿搭靈感</h3>
        <div class="row scroll no-sm-wrap d-sm-flex d-none">
          <div class="col-sm-8 px-sm-2 flex-fixed">
            <img src="../assets/images/inspiration-1.png" alt="album" />
          </div>
          <div class="col-sm-8 px-sm-2 flex-fixed">
            <img src="../assets/images/inspiration-2.png" alt="album" />
          </div>
          <div class="col-sm-8 px-sm-2 flex-fixed">
            <img src="../assets/images/inspiration-3.png" alt="album" />
          </div>
          <div class="col-sm-8 px-sm-2 flex-fixed">
            <img src="../assets/images/inspiration-4.png" alt="album" />
          </div>
          <div class="col-sm-8 px-sm-2 flex-fixed">
            <img src="../assets/images/inspiration-5.png" alt="album" />
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
