<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/all.css" />
  </head>
  <body>
    <%- include('./layout/nav'); %>
    <main class="px-3 py-8 container-l py-sm-4">
      <section class="mb-6 mb-sm-3">
        <p>
          <a class="me-3 lbl-md-neutral-600" href="index.html"
            ><span>首頁</span></a
          >
          <span class="me-3 txt-neutral-300 letter-spacing-0">/</span>
          <a class="me-3 lbl-md-neutral-600" href="products_list.html"
            ><span>女鞋</span></a
          >
          <span class="me-3 txt-neutral-300 letter-spacing-0">/</span>
          <a class="me-3 lbl-md-neutral-900" href="products_list.html"
            ><span>所有商品</span></a
          >
        </p>
      </section>
      <section class="mb-6 mb-sm-3">
        <h1 class="h3-neutral-900">女鞋</h1>
      </section>
      <section>
        <div class="row-mx-12">
          <div class="col-2 pe-6 px-3 d-sm-none">
            <h2>
              <a class="py-2 lbl-md-neutral-900 hover-primary-400" href="#"
                >所有商品</a
              >
            </h2>
            <h3>
              <a class="py-3 lbl-md-neutral-900 hover-primary-400" href="#"
                >慢跑鞋</a
              >
            </h3>
            <h3>
              <a class="py-3 lbl-md-neutral-900 hover-primary-400" href="#"
                >滑板鞋</a
              >
            </h3>
            <h3>
              <a class="py-3 lbl-md-neutral-900 hover-primary-400" href="#"
                >厚底鞋</a
              >
            </h3>
            <h3>
              <a class="py-3 lbl-md-neutral-900 hover-primary-400" href="#"
                >限定 / 聯名企劃</a
              >
            </h3>
          </div>
          <div class="col-10 px-3 col-sm-12">
            <div class="row-mx-12 row-sm-mx-1--5">
              <div class="col-4 px-3 mb-12 col-sm-6 px-sm-1-5">
                <a href="product_detail.html">
                  <div>
                    <div class="mb-3 mb-sm-2">
                      <img
                        src="../assets/images/product.png"
                        alt="PLATFORM 404"
                      />
                    </div>
                    <div>
                      <h4 class="mb-1 h6 mb-sm-0">PLATFORM 404</h4>
                      <h5 class="lbl-md-neutral-900">NT$2,600</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-4 px-3 mb-12 col-sm-6 px-sm-1-5">
                <a href="product_detail.html">
                  <div>
                    <div class="mb-3 mb-sm-2">
                      <img
                        src="../assets/images/product-1.png"
                        alt="PLATFORM 404"
                      />
                    </div>
                    <div>
                      <h4 class="mb-1 h6 mb-sm-0">PLATFORM 404</h4>
                      <h5 class="lbl-md-neutral-900">NT$2,600</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-4 px-3 mb-12 col-sm-6 px-sm-1-5">
                <a href="product_detail.html">
                  <div>
                    <div class="mb-3 mb-sm-2">
                      <img
                        src="../assets/images/product-2.png"
                        alt="PLATFORM 404"
                      />
                    </div>
                    <div>
                      <h4 class="mb-1 h6 mb-sm-0">PLATFORM 404</h4>
                      <h5 class="lbl-md-neutral-900">NT$2,600</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-4 px-3 mb-12 col-sm-6 px-sm-1-5">
                <div>
                  <div class="mb-3 mb-sm-2">
                    <img src="../assets/images/product-3.png" alt="VM001" />
                  </div>
                  <div>
                    <h4 class="mb-1 h6 mb-sm-0">VM001</h4>
                    <h5 class="lbl-md-neutral-900">NT$2,600</h5>
                  </div>
                </div>
              </div>
              <div class="col-4 px-3 mb-12 col-sm-6 px-sm-1-5">
                <a href="product_detail.html">
                  <div>
                    <div class="mb-3 mb-sm-2">
                      <img
                        src="../assets/images/product-4.png"
                        alt="PLATFORM 404"
                      />
                    </div>
                    <div>
                      <h4 class="mb-1 h6 mb-sm-0">Melty Kiss</h4>
                      <h5 class="lbl-md-neutral-900">NT$4,000</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-4 px-3 mb-12 col-sm-6 px-sm-1-5">
                <a href="product_detail.html">
                  <div>
                    <div class="mb-3 mb-sm-2">
                      <img
                        src="../assets/images/product-5.png"
                        alt="BOOMBLOK"
                      />
                    </div>
                    <div>
                      <h4 class="mb-1 h6 mb-sm-0">BOOMBLOK</h4>
                      <h5 class="lbl-md-neutral-900">NT$3,200</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-4 px-3 mb-12 col-sm-6 px-sm-1-5">
                <a href="product_detail.html">
                  <div>
                    <div class="mb-3 mb-sm-2">
                      <img
                        src="../assets/images/product-6.png"
                        alt="BOOMBLOK"
                      />
                    </div>
                    <div>
                      <h4 class="mb-1 h6 mb-sm-0">BOOMBLOK</h4>
                      <h5 class="lbl-md-neutral-900">NT$3,200</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-4 px-3 mb-12 col-sm-6 px-sm-1-5">
                <a href="product_detail.html">
                  <div>
                    <div class="mb-3 mb-sm-2">
                      <img src="../assets/images/product-7.png" alt="R:UNER" />
                    </div>
                    <div>
                      <h4 class="mb-1 h6 mb-sm-0">PR:UNER</h4>
                      <h5 class="lbl-md-neutral-900">NT$4,000</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-4 px-3 mb-12 col-sm-6 px-sm-1-5">
                <a href="product_detail.html">
                  <div>
                    <div class="mb-3 mb-sm-2">
                      <img
                        src="../assets/images/product-8.png"
                        alt="Sugar Snap"
                      />
                    </div>
                    <div>
                      <h4 class="mb-1 h6 mb-sm-0">Sugar Snap</h4>
                      <h5 class="lbl-md-neutral-900">NT$4,000</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div
                class="col-4 px-3 mb-12 d-none col-sm-6 px-sm-1-5 d-sm-block"
              >
                <div>
                  <div class="mb-3 mb-sm-2">
                    <img src="../assets/images/product-9.png" alt="Neofoam" />
                  </div>
                  <div>
                    <h4 class="mb-1 h6 mb-sm-0">Neofoam</h4>
                    <h5 class="lbl-md-neutral-900">NT$4,000</h5>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <ul class="d-flex justify-content-center">
                <li>
                  <a
                    class="p-2-5 me-3 d-flex align-items-center hover-primary-300"
                    href="#"
                    ><img src="../assets/images/chevron-left.svg" alt="chevron"
                  /></a>
                </li>
                <li>
                  <a
                    class="py-2 px-3-75 me-2 lbl-md-neutral-900 hover-primary-300"
                    href="#"
                    >1</a
                  >
                </li>
                <li>
                  <a
                    class="py-2 px-3-75 me-2 lbl-md-neutral-900 hover-primary-300"
                    href="#"
                    >2</a
                  >
                </li>
                <li>
                  <a
                    class="py-2 px-3-75 me-2 lbl-md-neutral-900 hover-primary-300"
                    href="#"
                    >3</a
                  >
                </li>
                <li>
                  <a
                    class="py-2 px-3 me-2 lbl-md-neutral-900 hover-primary-300"
                    href="#"
                    >...</a
                  >
                </li>
                <li>
                  <a
                    class="py-2 px-2-5 me-3 lbl-md-neutral-900 hover-primary-300"
                    href="#"
                    >10</a
                  >
                </li>
                <li>
                  <a
                    class="p-2-5 me-3 d-flex align-items-center hover-primary-300"
                    href="#"
                    href="#"
                    ><img
                      src="../assets/images/chevron-right.svg"
                      alt="chevron"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
