<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/all.css" />
  </head>
  <body>
    <%- include('./layout/nav'); %>
    <main>
      <section class="container-l py-16 py-sm-0">
        <div class="row-mx-12">
          <div class="col-7 px-3 col-sm-12">
            <div class="row-4">
              <div class="col-6 px-1 mb-2 col-sm-12 px-sm-0 mb-sm-6">
                <div>
                  <img src="../assets/images/product.png" alt="Platform 404" />
                </div>
              </div>
              <div class="col-6 px-1 mb-2 d-sm-none">
                <div>
                  <img src="../assets/images/image-1.png" alt="Platform 404" />
                </div>
              </div>
              <div class="col-6 px-1 mb-2 d-sm-none">
                <div>
                  <img src="../assets/images/image-2.png" alt="Platform 404" />
                </div>
              </div>
              <div class="col-6 px-1 mb-2 d-sm-none">
                <div>
                  <img src="../assets/images/image-3.png" alt="Platform 404" />
                </div>
              </div>
              <div class="col-6 px-1 mb-2 d-sm-none">
                <div>
                  <img src="../assets/images/image-4.png" alt="Platform 404" />
                </div>
              </div>
              <div class="col-6 px-1 mb-2 d-sm-none">
                <div>
                  <img src="../assets/images/image-5.png" alt="Platform 404" />
                </div>
              </div>
              <div class="col-6 px-1 d-sm-none">
                <div>
                  <img src="../assets/images/image-6.png" alt="Platform 404" />
                </div>
              </div>
              <div class="col-6 px-1 d-sm-none">
                <div>
                  <img src="../assets/images/image-7.png" alt="Platform 404" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-5 px-3 col-sm-12">
            <section class="mb-8 px-3">
              <div class="mb-3 mb-sm-2">
                <p>
                  <a class="me-3 lbl-md-neutral-600 me-sm-2" href="index.html"
                    ><span>首頁</span></a
                  >
                  <span class="me-3 txt-neutral-300 letter-spacing-0 me-sm-2"
                    >/</span
                  >
                  <a class="me-3 lbl-md-neutral-600" href="products_list.html"
                    ><span>女鞋</span></a
                  >
                  <span class="me-3 txt-neutral-300 letter-spacing-0 me-sm-2"
                    >/</span
                  >
                  <a
                    class="me-3 lbl-md-neutral-600 me-sm-2"
                    href="products_list.html"
                    ><span>滑板鞋</span></a
                  >
                  <span class="me-3 txt-neutral-300 letter-spacing-0 me-sm-2"
                    >/</span
                  >
                  <a
                    class="me-3 lbl-md-neutral-900 me-sm-2"
                    href="product_detail.html"
                  >
                    <span>Platform 404</span></a
                  >
                </p>
              </div>
              <div class="mb-4 mb-sm-3">
                <h1 class="h2 h4-sm">Platform 404</h1>
              </div>
              <div class="mb-4 d-flex mb-sm-3">
                <h2 class="me-2 h5 h6-sm">NT$2,600</h2>
                <p class="p-sm-neutral-500 text-decoration">NT$3,200</p>
              </div>
              <div>
                <p class="mb-3 p-md-neutral-900">
                  Platform 404
                  以柔和奶白為底，搭配深藍色皮革點綴，走在街上自帶回頭率。鞋型採用復古運動風輪廓，結合輕量厚底與柔軟泡棉鞋舌，兼顧美感與舒適。
                </p>
                <p class="p-md-neutral-900">
                  鞋身選用柔軟皮革材質，打造出清新卻不失個性的氛圍，並以鞋面透氣孔設計提升穿著體驗，兼顧質感與舒適度，適合日常長時間著用。無論是街頭穿搭、日常通勤或週末出遊都能輕鬆駕馭。
                </p>
              </div>
            </section>
            <section class="mb-8 px-3">
              <div class="mb-8 mb-sm-6">
                <div class="mb-2">
                  <h3 class="p-md-neutral-900">顏色</h3>
                </div>
                <ul class="d-flex">
                  <li class="me-2 max-width-16">
                    <a href="#">
                      <div class="mb-1">
                        <img src="../assets/images/product.png" alt="#" />
                      </div>
                      <h4 class="lbl-md-neutral-600 text-align-center">藍色</h4>
                    </a>
                  </li>
                  <li class="me-2 max-width-16">
                    <a href="#">
                      <div class="mb-1">
                        <img src="../assets/images/product-1.png" alt="#" />
                      </div>
                      <h4 class="lbl-md-neutral-600 text-align-center">
                        卡其色
                      </h4>
                    </a>
                  </li>
                </ul>
              </div>
              <div>
                <div class="mb-2">
                  <h3 class="p-md-neutral-900">尺寸</h3>
                </div>
                <ul class="d-flex flex-wrap mb-2">
                  <li class="me-2 mb-2">
                    <a
                      class="py-3 px-6 btn-l-base-neutral-300 btn-neutral-outlined lbl-md-neutral-900"
                      href="#"
                    >
                      35(22.5cm)
                    </a>
                  </li>
                  <li class="me-2 mb-2">
                    <a
                      class="py-3 px-6 btn-l-base-neutral-300 btn-neutral-outlined lbl-md-neutral-900"
                      href="#"
                    >
                      36(23.0cm)
                    </a>
                  </li>
                  <li class="me-2 mb-2">
                    <a
                      class="py-3 px-6 btn-l-base-neutral-300 btn-neutral-outlined lbl-md-neutral-900"
                      href="#"
                    >
                      37(23.5cm)
                    </a>
                  </li>
                  <li class="me-2 mb-2">
                    <a
                      class="py-3 px-6 btn-l-base-neutral-300 btn-neutral-outlined lbl-md-neutral-900"
                      href="#"
                    >
                      38(24.0cm)
                    </a>
                  </li>
                  <li class="me-2 mb-2">
                    <a
                      class="py-3 px-6 btn-l-base-neutral-300 btn-neutral-outlined lbl-md-neutral-900"
                      href="#"
                    >
                      39(24.5cm)
                    </a>
                  </li>
                  <li class="me-2 mb-2">
                    <a
                      class="py-3 px-6 btn-l-base-neutral-300 btn-neutral-outlined lbl-md-neutral-900"
                      href="#"
                    >
                      40(25.0cm)
                    </a>
                  </li>
                  <li class="me-2 mb-2">
                    <a
                      class="py-3 px-6 btn-l-base-neutral-300 btn-neutral-outlined lbl-md-neutral-900"
                      href="#"
                    >
                      41(26.0cm)
                    </a>
                  </li>
                  <li class="me-2 mb-2">
                    <a
                      class="py-3 px-6 btn-l-base-neutral-300 btn-neutral-outlined-disabled"
                      href="#"
                    >
                      42(26.5cm)
                    </a>
                  </li>
                  <li class="me-2 mb-2">
                    <a
                      class="py-3 px-6 btn-l-base-neutral-300 btn-neutral-outlined-disabled"
                      href="#"
                    >
                      43(27.0cm)
                    </a>
                  </li>
                </ul>
                <div class="mb-12 mb-sm-6">
                  <p class="danger-300">僅剩 3 雙</p>
                </div>
                <div>
                  <ul class="d-flex">
                    <li class="me-2 d-sm-none">
                      <a
                        class="px-16 py-3 d-flex justify-content-center btn-base lbl-md-neutral-900 btn-neutral-outlined-2"
                        href="#"
                      >
                        <span
                          class="me-2 d-flex justify-content-center align-items-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            fill="currentColor"
                            class="bi bi-heart"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                            />
                          </svg>
                        </span>
                        加入收藏
                      </a>
                    </li>
                    <li class="me-2">
                      <a
                        class="px-15 py-3 btn-base lbl-md-neutral-900 btn-neutral-outlined-2 px-sm-20p5"
                        href="#"
                      >
                        <span
                          class="me-2 d-flex justify-content-center align-items-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            fill="currentColor"
                            class="bi bi-handbag"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2m3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6z"
                            />
                          </svg>
                        </span>
                        門市預約試穿
                      </a>
                    </li>
                    <li
                      class="d-none d-sm-flex p-sm-3 justify-content-center align-items-center"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        fill="currentColor"
                        class="bi bi-heart"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                        />
                      </svg>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <section class="px-3">
              <div class="py-3 border-bottom-1">
                <div class="mb-1">
                  <h3 class="lbl-md-neutral-900">商品材質</h3>
                </div>
                <div>
                  <p class="p-md-neutral-600">
                    鞋面：合成皮革（Synthetic Leather）
                  </p>
                  <p class="p-md-neutral-600">
                    內裡：透氣網布材質，提升舒適與排汗性
                  </p>
                  <p class="p-md-neutral-600">
                    鞋底：EVA 輕量發泡橡膠，具備良好緩震與止滑效果
                  </p>
                  <p class="p-md-neutral-600">鞋帶：聚酯纖維，耐拉扯不易鬆脫</p>
                </div>
              </div>
              <div class="py-3 border-bottom-1">
                <div class="mb-1">
                  <h3 class="lbl-md-neutral-900">購買須知</h3>
                </div>
                <div>
                  <p class="p-md-neutral-600">
                    商品顏色因螢幕顯示可能略有差異，請以實品為準。
                  </p>
                  <p class="p-md-neutral-600">
                    建議首次穿著前試穿確認尺寸，避免影響退換貨權益。
                  </p>
                  <p class="p-md-neutral-600">
                    本商品為限量發售，庫存有限，如需更換尺寸請儘早聯繫客服協助處理。
                  </p>
                </div>
              </div>
              <div class="py-3 border-bottom-1">
                <div class="mb-1">
                  <h3 class="lbl-md-neutral-900">保養方式</h3>
                </div>
                <div>
                  <p class="p-md-neutral-600">
                    建議以乾布或微濕軟布擦拭表面汙漬，避免機洗或長時間浸水。
                  </p>
                  <p class="p-md-neutral-600">
                    收納時請放置於乾燥通風處，避免日曬及高溫導致變形或龜裂。
                  </p>
                  <p class="p-md-neutral-600">
                    若需深層清潔，建議使用中性清潔劑並搭配柔刷輕刷，勿使用漂白水或強酸強鹼清潔劑。
                  </p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
      <section class="container-l py-12 mb-10 py-sm-10 px-sm-3 mb-sm-6">
        <div class="mb-4 py-2-5">
          <h2 class="h4 h5-sm-neutral">你可能也喜歡...</h2>
        </div>
        <div class="row-mx-12 no-sm-wrap scroll">
          <div class="col-3 px-3 col-sm-12 flex-fixed">
            <a href="product_detail.html">
              <div class="mb-3">
                <img src="../assets/images/product-2.png" alt="#" />
              </div>
              <div>
                <h3 class="h6">VM001</h3>
                <h3 class="lbl-md-neutral-900">NT$2,600</h3>
              </div>
            </a>
          </div>
          <div class="col-3 px-3 col-sm-12 flex-fixed">
            <a href="product_detail.html">
              <div class="mb-3">
                <img src="../assets/images/product-3.png" alt="#" />
              </div>
              <div>
                <h3 class="h6">Melty Kiss</h3>
                <h3 class="lbl-md-neutral-900">NT$4,000</h3>
              </div>
            </a>
          </div>
          <div class="col-3 px-3 col-sm-12 flex-fixed">
            <a href="product_detail.html">
              <div class="mb-3">
                <img src="../assets/images/product-4.png" alt="#" />
              </div>
              <div>
                <h3 class="h6">BOOMBLOK</h3>
                <h3 class="lbl-md-neutral-900">NT$3,200</h3>
              </div>
            </a>
          </div>
          <div class="col-3 px-3 col-sm-12 flex-fixed">
            <a href="product_detail.html">
              <div class="mb-3">
                <img src="../assets/images/product-7.png" alt="#" />
              </div>
              <div>
                <h3 class="h6">Sugar Snap</h3>
                <h3 class="lbl-md-neutral-900">NT$3,200</h3>
              </div>
            </a>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
